@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes elementTransitionSort {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px);
    }

    75% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

.element-transition-sort {
    animation: elementTransitionSort 0.5s ease-in-out;
}